{% extends 'base.html' %} {% block body %}

<h1>{{ the_title }}</h1>
<div class="row">
    <div class="column">
      <img
        src="{{ url_for('static', filename='images/lmao.png') }}"
        alt="arm"
        style="width: 50%"
      />
    </div>
    <div class="column">
      <img
        src="{{ url_for('static', filename='images/arm.png') }}"
        alt="arm"
        style="width: 50%"
      />
    </div>
  </div>
  <div>
    <nav>
    <a href="index.html">Home</a>
    <a href="data.html">Data</a>
    <a href="api_info.html">API Info</a>
    <a href="README.html">Docs</a>
    <!-- Add more links here if needed -->
    </nav>
  </div>
  <p>To download sensor data in csv format, type ip/mm-dd-yyyy-sensor in the search bar.</p>
  
{% endblock %}
