{% extends 'base.html' %} {% block body %}

<h1>{{ the_title }}</h1>

<div class="row">
  <div class="column">
    <img
      src="{{ url_for('static', filename='images/cute2.png') }}"
      alt="arm"
      style="width: 50%"
    />
  </div>
  <div class="column">
    <img
      src="{{ url_for('static', filename='images/arm.png') }}"
      alt="ai"
      style="width: 50%"
    />
  </div>
</div>
<div>
  <nav>
    <a href="index.html">Home</a>
    <a href="data.html">Data</a>
    <a href="README.html">Docs</a>
    <a href="downloads.html">Download Data</a>

    <!-- Add more links here if needed -->
  </nav>
</div>
<p>Use this page to download data from the tinyweather sensor platform.</p>

<form method="POST", action="/select">
  <select name="files" method="post" action="{{ url_for('select') }}">
    <option value="{{files[0]}}" selected>{{files[0]}}</option>
        {% for file in files[1:] %}
        <option value="{{file}}">{{file}}</option>
        {% endfor %}
  </select>
  <button type="submit" class="btn btn-default">Download data</button>
</form>


{% endblock %}
